
body{
    background-color: rgb(187, 178, 241);
}

.imagenNav{
    width: 40px;
    height: 40px;
}

#logo{
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

#perfil{
    float: right;
    width: 100px;
    height: 100px;
    
}
/*********************************/
/*.container {
    width:996px;
    margin:0px auto;
    font-size:1em;
}*/

header{
    margin: 0 auto;
}

.container  #lupa{
    width: 25px;
    height: 25px;
}

.container  input{
    border: 0px;
    border-bottom: 1px solid black;
    background-color: rgb(187, 178, 241);
    width: 25%;
    font-size: large;
}

.container .busqueda{
    padding: 1em;
    text-align: center;
}

/*Para quitar los bordes cuando escriba en el input*/
.container  input:focus{
    outline: none;
}

section,aside {
    padding: 10px;
    background:rgb(216, 216, 216);
    -moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;border-radius:5px;
}

/*section {
    float: left;
    width: 70%;
}
aside {
    float: right;
    width: 25%;
}*/
nav {
    overflow: hidden;
    display: flex;
    justify-content: center;
    /* https://developer.mozilla.org/es/docs/Web/CSS/overflow */
}
nav ul {
    list-style-type:none;
    float:left;
    padding:0px;
}
nav ul li {
    display: inline-block;
    padding:3px 10px;
    margin:2px;
}

h2{
    text-align: center;
}

.filaProductos::after{
    content: "";
    clear: both;
    display: table;
    margin-bottom: 5%;
    
}

.pd{
    float: left;
    width: 40%;
    margin-left: 6%;
    margin-right: 15px;

    background-color: white;
    border-radius: 5px;
    
}

.producto{
    float: left;
    width: 40%;
    margin-left: 6%;
    margin-right: 15px;

    background-color: white;
    border-radius: 5px;
    margin-top: 5%;

    
}

.tituloProducto{
    text-align: left;
    font-weight: bold;
    font-size: x-large;
}

.descripcionProducto{
    text-align: left;
    font-size: medium;
}

.pre_footer{
    margin:10px;
    text-align:left;
    clear:both;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    width: 30%;
}


footer {
    background-color:rgb(216, 216, 216);
    margin:10px;
    clear:both;
    height: 50px;
    text-align: right;

}

footer label{
    float: left;
  font-size: 14px;
  text-align: center;
    line-height: 51px;
}

.aplicacion{
    float: left;
    
    padding: 15px;
    width: 20px;
    height: 20px;
}

.redesSociales{
    padding: 15px;
    width: 20px;
    height: 20px;
}

/*Crear un modal para registrarse*/
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;

text-align: center;

}

.modalDialog > div input{
    text-align: center;
    background-color: white;
    border-radius: 3px;
    width: 50%;
}

.modalDialog > div button{
    text-align: center;
    background-color: rgb(187, 178, 241);
    border-radius: 3px;
}

.close {
	background: #b9b9b9;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	
}

.close:hover { 
    background: #c90303; 
}

.atributos div{
    display: inline-block;
    min-width: 6%;
    margin-right: 10px;
}

.contenedor{
    
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 15px;
}

.contenedor img{
    padding-right: 7px;
}

.contenedor label{
    vertical-align: 3px;
}

.busqueda_prodSelec{
    padding: 1em;
    text-align: center;
    margin-bottom: 50px;
}

.productoSeleccionado{
    background-color: white;
    width: 75%;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    border-radius: 10px;
}

.productoSeleccionado .img_perfil{
    padding-left: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.productoSeleccionado label{
    vertical-align: 30px;
}

.productoSeleccionado button{
    margin-top: 5px;
    margin-right: 10px;
    float: right;
    margin-left: 15px;
    width: 12%;
    border-radius: 5px;
}

.productoSeleccionado .like{
    background-color: rgb(247, 151, 167);
}

.productoSeleccionado .chat{
    background-color: rgb(117, 235, 127);
}


.productoSeleccionado .prodSelec_precio{
    margin-left: 15px;
    font-size: xx-large;
    font-weight: bolder;
}

.productoSeleccionado .prodSelec_titulo{
    margin-left: 15px;
    font-size: x-large;
    font-weight: bolder;
}

.productoSeleccionado .descProducto, .mapa{
    background-color: white;
    width: 75%;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 15px;
}


/* para 980px o menos */
@media screen and (max-width:980px) {
    .container {
        width:98%;
    }
    section {
        width:68%;
    }
}

/* para 700px o menos */
@media screen and (max-width:700px) {
    aside,section {
        float:none;
        width:96%;
    }
    nav, section {
        font-size:1.2em;
    }
    aside {
        margin-top:5px;
    }
    nav ul {
        float:none;
        clear:both;
    }
}

/* para 480px o menos */
@media screen and (max-width:480px) {
    aside {
        display:none;
    }
    nav, section {
        font-size:1.5em;
    }
    section {
        width:94%;
    }
    nav ul {
        float:left;
        clear:none;
        width:50%;
    }
    nav ul li {
        float:none;
    }
}

